<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->

<head>

    <!--- basic page needs
   ================================================== -->
    <meta charset="utf-8">
    <title>Potfolio</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
   ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
   ================================================== -->
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/vendor.css">

    <!-- script
   ================================================== -->
    <script src="/static/js/modernizr.js"></script>
    <script src="/static/js/pace.min.js"></script>

    <!-- favicons
	================================================== -->
    <link rel="icon" type="image/png" href="/static/images/icc.webp">

</head>

<body id="top">

    <!-- header 
   ================================================== -->
    <header>
        <div class="row">

            <div class="top-bar">
                <a class="menu-toggle" href="#"><span>Menu</span></a>

                <div class="logo">
                    <a href="index.html">Potfolio</a>
                </div>

                <nav id="main-nav-wrap">
                    <ul class="main-navigation">
                        <li class="current"><a class="smoothscroll" href="#intro" title="">Home</a></li>
                        <li><a class="smoothscroll" href="#about" title="">About</a></li>
                        <li><a class="smoothscroll" href="#resume" title="">Resume</a></li>
                        <li><a class="smoothscroll" href="#portfolio" title="">Experience</a></li>
                        <li><a class="smoothscroll" href="#contact" title="">Contact</a></li>
                    </ul>
                </nav>
            </div> <!-- /top-bar -->

        </div> <!-- /row -->
    </header> <!-- /header -->

    <!-- intro section
   ================================================== -->
    <section id="intro">

        <div class="intro-overlay"></div>

        <div class="intro-content">
            <div class="row">

                <div class="col-twelve">

                    <h5>Hello, EveryOne.</h5>
                    <h1>I'm Aswinth.S.</h1>

                    <p class="intro-position">
                        <span>Python Developer</span>

                    </p>

                    <a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

                </div>

            </div>
        </div> <!-- /intro-content -->

        <ul class="intro-social">
            <li><a href="https://www.linkedin.com/in/aswinth-sudhakar-13009427a/"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="mailto:ashwinthsudha2003@gmail.com"><i class="fa fa-envelope"></i></a></li>
            <li><a href="https://github.com/Aswinth-sudha123"><i class="fa fa-github"></i></a></li>
        </ul> <!-- /intro-social -->

    </section> <!-- /intro -->


    <!-- about section
   ================================================== -->
    <section id="about">

        <div class="row section-intro">
            <div class="col-twelve">

                <h5>About</h5>
                <h1>Let me introduce myself.</h1>

                <div class="intro-info">

                    <img src="/static/images/profile.jpg" alt="Profile Picture">

                    <p class="lead">Hello, I am Aswinth from Thiruvarur. I have completed my BBA and Python Full Stack
                        Development course. Currently, I am working at Altos Technologies as a developer. I am
                        passionate about coding and always eager to learn new technologies.</p>
                </div>

            </div>
        </div> <!-- /section-intro -->

        <div class="row about-content">

            <div class="col-six tab-full">

                <h3>Profile</h3>
                <p>A skilled Python Developer with 1 years of experience in building and maintaining scalable web
                    applications and data-driven solutions. Proficient in Python frameworks like Django and
                    Flask,database management, and cloud services. Passionate about writing clean, efficient code and
                    improving system performance.</p>

                <ul class="info-list">
                    <li>
                        <strong>Fullname:</strong>
                        <span>Aswinth.S</span>
                    </li>
                    <li>
                        <strong>Birth Date:</strong>
                        <span>October 16, 2003</span>
                    </li>
                    <li>
                        <strong>Job:</strong>
                        <span>Python Developer</span>
                    </li>
                    <li>
                        <strong>Email:</strong>
                        <span>ashwinthsudha2003@gmail.com</span>
                    </li>

                </ul> <!-- /info-list -->

            </div>

            <div class="col-six tab-full">

                <h3>Skills</h3>
                <p>I have expertise in Python, Django, HTML, CSS, JavaScript, and Bootstrap for full-stack development.
                    I don't have experience working with Tkinter But i know it and GitHub for version control.
                    I am passionate about building dynamic web applications and creating user-friendly interfaces.

                    Let me know if you need any modifications</p>

                <ul class="skill-bars">
                    <li>
                        <div class="progress percent90"><span>90%</span></div>
                        <strong>HTML5</strong>
                    </li>
                    <li>
                        <div class="progress percent85"><span>85%</span></div>
                        <strong>CSS3</strong>
                    </li>
                    <li>
                        <div class="progress percent70"><span>70%</span></div>
                        <strong>Python</strong>
                    </li>
                    <li>
                        <div class="progress percent95"><span>85%</span></div>
                        <strong>Mysql</strong>
                    </li>
                    <li>

                        <div class="progress percent75"><span>85%</span></div>
                        <strong>Django</strong>
                    </li>

                </ul> <!-- /skill-bars -->

            </div>

        </div>

        <div class="row button-section">
            <div class="col-twelve">
                <a href="#contact" title="Hire Me" class="button stroke smoothscroll">Hire Me</a>
                <a href="/static/download/Aswinth-S-Resume.pdf" download title="Download CV" class="button button-primary">Download Resume</a>
            </div>
        </div>


    </section> <!-- /process-->


    <!-- resume Section
   ================================================== -->
    <section id="resume" class="grey-section">

        <div class="row section-intro">
            <div class="col-twelve">

                <h5>Resume</h5>
                <h1>More of my credentials.</h1>

                <p class="lead">"I'm a Python Developer with a background in Business Administration. I completed my
                    collages PRIST University, Thanjavur, and later pursued my passion for coding. With a strong
                    foundation in both business and technology, I enjoy building efficient and scalable solutions.
                    Always eager to learn and explore new technologies!</p>

            </div>
        </div> <!-- /section-intro-->

        <div class="row resume-timeline">

            <div class="col-twelve resume-header">

                <h2>Work Experience</h2>

            </div> <!-- /resume-header -->

            <div class="col-twelve">

                <div class="timeline-wrap">

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-graduation-cap"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>python developer</h3>
                            <p>August 2024 - Present</p>
                        </div>

                        <div class="timeline-content">
                            <h4>Altos Technologies</h4>
                            <p>As a leading web development company in Kochi, ALTOS Technologies provides top-notch
                                consulting and strategy services to enhance the digital transformation of enterprises of
                                all sizes, both internally and in terms of customer experience.</p>
                        </div>

                    </div> <!-- /timeline-block -->



                </div> <!-- /timeline-wrap -->

            </div> <!-- /col-twelve -->

        </div> <!-- /resume-timeline -->

        <div class="row resume-timeline">

            <div class="col-twelve resume-header">

                <h2>Education</h2>

            </div> <!-- /resume-header -->

            <div class="col-twelve">

                <div class="timeline-wrap">



                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Bachelor Degree</h3>
                            <p>July 2020 - June 2023</p>
                        </div>

                        <div class="timeline-content">
                            <h4>Prist University Thanjavur</h4>
                            <p>I am pursuing a Bachelor of Business Administration (BBA) at PRIST University, Thanjavur.
                                PRIST (Ponnaiyah Ramajayam Institute of Science and Technology) is a renowned university
                                known for its commitment to academic excellence and professional growth.

                                The BBA program at PRIST University provides a strong foundation in business management,
                                leadership, and entrepreneurship. The curriculum covers essential subjects like finance,
                                marketing, human resources, and organizational behavior, preparing students for careers
                                in corporate management or entrepreneurship.</p>
                        </div>

                    </div> <!-- /timeline-block -->

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Certifications</h3>
                            <p>Octobar 2023 - Febraury 2024</p>
                        </div>

                        <div class="timeline-content">
                            <h4>Uniq Technologies</h4>
                            <p>Alongside my business studies, I have also completed a Full Stack Developer certification
                                course from UNIQ Technologies. This program provided me with hands-on experience in
                                front-end and back-end development, covering technologies such as HTML, CSS, JavaScript,
                                Python, and databases like MySQL/Sqlite. The course enhanced my ability to build dynamic
                                web applications and strengthened my problem-solving skills in software development.</p>
                        </div>

                    </div> <!-- /timeline-block -->

                </div> <!-- /timeline-wrap -->

            </div> <!-- /col-twelve -->

        </div> <!-- /resume-timeline -->

    </section> <!-- /features -->


    <!-- Portfolio Section
   ================================================== -->
    <section id="portfolio">
        <div class="row section-intro">
            <div class="col-twelve">
                <h5>Experience</h5>
                <h1>Check Out Some of My Works.</h1>
                <p class="lead">
                    I have hands-on experience developing dynamic web applications that optimize business operations.
                    My expertise includes CRM (Customer Relationship Management) systems, HRMS (Human Resource
                    Management Systems),
                    and a Matrimony Website designed to enhance user engagement and functionality.
                </p>
            </div>
        </div> <!-- /section-intro-->

        <div class="row">
            <div class="col-four">
                <h3>CRM System Development</h3>
                <p>
                    Designed and developed a Customer Relationship Management (CRM) system to manage customer
                    interactions, automate sales pipelines,
                    and improve customer engagement. Integrated Django, MySQL for seamless functionality.
                </p>
            </div>
            <div class="col-four">
                <h3>HRMS Web Application</h3>
                <p>
                    Built an HRMS (Human Resource Management System) that streamlines employee management, payroll, and
                    leave tracking.
                    Implemented Python, Django, and MySQL to create a highly efficient and scalable solution.
                </p>
            </div>
            <div class="col-four">
                <h3>Matrimony Website</h3>
                <p>
                    Developed a Matrimony Web Application that connects potential matches using an intuitive user
                    interface.
                    Features include profile creation, search filters, and messaging functionality.
                    Built using Django, Bootstrap, and MySQL.
                </p>
                <a href="https://github.com/Aswinth-sudha123/matimony_project" target="_blank"
                    class="btn btn-outline-primary">
                    <i class="fa fa-link"></i> View on GitHub
                </a>
            </div>
        </div>
    </section>





    <section id="contact">

        <div class="row section-intro">
            <div class="col-twelve">

                <h5>Contact</h5>
                <h1>I'd Love To Hear From You.</h1>

                <p class="lead">Contact me With mail and my Social media Platforms.</p>

            </div>
        </div> <!-- /section-intro -->

        <div class="row contact-form">

            <div class="col-twelve">

                <!-- form -->
                <form name="contactForm" id="contactForm" method="post">
                    {% csrf_token %}
                    <fieldset>

                        <div class="form-field">
                            <input name="contactName" type="text" id="contactName" placeholder="Name" value=""
                                minlength="2" required="">
                        </div>
                        <div class="form-field">
                            <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value=""
                                required="">
                        </div>
                        <div class="form-field">
                            <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="">
                        </div>
                        <div class="form-field">
                            <textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10"
                                cols="50" required=""></textarea>
                        </div>
                        <div class="form-field">
                            <button class="submitform">Submit</button>
                            <div id="submit-loader">
                                <div class="text-loader">Sending...</div>

                            </div>
                        </div>

                    </fieldset>
                </form> <!-- Form End -->

                <!-- contact-warning -->
                <div id="message-warning">
                </div>
                <!-- contact-success -->
                <div id="message-success">
                    <i class="fa fa-check"></i>Your message was sent, thank you!<br>
                </div>

            </div> <!-- /col-twelve -->

        </div> <!-- /contact-form -->

        <div class="row contact-info">

            <!-- Location Section -->
            <div class="col-four tab-full">
                <div class="icon">
                    <a href="https://www.google.com/maps/search/?api=1&query=laksmi+gardern+street,Perumalagaram,koradacheri,Thiruvarur,613703,Tamil-Nadu"
                        target="_blank">
                        <i class="icon-pin"></i>
                    </a>
                </div>
                <h5>Where to find me</h5>
                <p>
                    laksmi gardern street, Perumalagaram<br>
                    Koradacheri, Thiruvarur<br>
                    613703, Tamil-Nadu
                </p>
            </div>

            <!-- Email Section -->
            <div class="col-four tab-full collapse">
                <div class="icon">
                    <a href="mailto:ashwinthsudha2003@gmail.com">
                        <i class="icon-mail"></i>
                    </a>
                </div>
                <h5>Email Me At</h5>
                <p>
                    ashwinthsudha2003@gmail.com<a href="mailto:ashwinthsudha2003@gmail.com"></a>
                </p>
            </div>

            <!-- Phone Section -->
            <div class="col-four tab-full">
                <div class="icon">
                    <a href="tel:+919944966364">
                        <i class="icon-phone"></i>
                    </a>
                </div>
                <h5>Call Me At</h5>
                <p>
                    Phone: 9944966364<a href="tel:+919944966364"></a>
                </p>
            </div>

        </div> <!-- /contact-info -->


    </section> <!-- /contact -->


    <!-- footer
   ================================================== -->

    <footer>
        <div class="row">

            <div class="col-six tab-full pull-right social">

                <ul class="footer-social">
                    <li><a href="https://www.linkedin.com/in/aswinth-sudhakar-13009427a/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="mailto:ashwinthsudha2003@gmail.com"><i class="fa fa-envelope"></i></a></li>
                    <li><a href="https://github.com/Aswinth-sudha123"><i class="fa fa-github"></i></a></li>
                </ul>

            </div>

            <div class="col-six tab-full">
                <div class="copyright">
                    <span>© Copyright Aswinth.s.</span>
                    <span>Design by <a
                            href="https://www.linkedin.com/in/aswinth-sudhakar-13009427a/">Aswin@123</a></span>
                </div>
            </div>

            <div id="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
            </div>

        </div> <!-- /row -->
    </footer>

    <div id="preloader">
        <div id="loader"></div>
    </div>

    <!-- Java Script
   ================================================== -->
    <script src="/static/js/jquery-2.1.3.min.js"></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/main.js"></script>


    <script>
        document.getElementById("contactForm").addEventListener("submit", function(event) {
            event.preventDefault();
            
            let formData = new FormData(this);
    
            document.getElementById("submit-loader").style.display = "block";
    
            fetch("", {  // Sending request to the same view
                method: "POST",
                body: formData,
                headers: {
                    "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value
                }
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("submit-loader").style.display = "none";
                if (data.message) {
                    alert("Email Sent Successfully!");
                    document.getElementById("contactForm").reset();
                } else {
                    alert("Error Sending Email: " + data.error);
                }
            })
            .catch(error => {
                document.getElementById("submit-loader").style.display = "none";
                console.error("Error:", error);
                alert("Something went wrong!");
            });
        });
    </script>
</body>

</html>